<footer>
    <fieldset class="plug">
      <h3>Social Media</h3>
  
      <a href="https://www.instagram.com/ammar__ogeil/" class="social" target="_blank">
        <img src="images/1_Instagram_colored_svg_1-128.webp" width="64px" height="64px" alt="Instagram">
      </a>
  
      <a href="#" class="social" target="_blank">
        <img src="images/x-app-logo-1.jpg" width="64px" height="64px" alt="X / Twitter">
      </a>
  
      <a href="https://www.linkedin.com/in/ammar-ogeil-32723225a/" class="social" target="_blank">
        <img src="images/1_Linkedin_unofficial_colored_svg-128.webp" width="64px" height="64px" alt="LinkedIn">
      </a>
  
      <a href="https://github.com/Goldenhawk2003" class="social" target="_blank">
        <img src="images/3291695.png" width="64px" height="64px" alt="GitHub">
      </a>
    </fieldset>
  </footer>