<div id="home" class="tab-content">
    <div class="opener">
  
      <div class="logo-container">
        <img src="images/386350499_866103001742267_6840503657486140163_n.jpg" alt="DVD Logo" id="dvd-logo">
      </div>
  
      <main>
        <h1>AMMAR OGEIL</h1>
        <h4>Welcome to my website</h4>
        
        <div class="center-wrapper">
          <div id="code-container" class="code-container">
            <pre id="python-code" class="python-code"></pre>
          </div>
        </div>
      </main>
  
    </div>
  </div>