<div id="services" class="tab-content">
    <h2>About Me</h2>
  
    <p>I am a Computer Science student at Wilfrid Laurier University.</p>
    <p>I’ve completed certifications and courses in various programming and software engineering concepts.</p>
    <p>I'm always looking to gain experience and apply what I’ve learned to improve the tech space.</p>
  
    <div class="info-pair">
        <div class="info-card">
          <h3>My Research</h3>
          <a href="files/Summer Research Paper AO.pdf" target="_blank">
            <img class="enlarge-on-hover" src="images/Screenshot 2024-09-18 at 3.46.57 PM.png" width="240px"  height="240px" alt="Research Thumbnail">
          </a>
        </div>
      
        <div class="info-card">
          <h3>My Resume</h3>
          <a href="files/Resume_AO_2025.pdf" target="_blank">
            <img class="enlarge-on-hover" src="images/resume.png"  width="240px"  height="240px" alt="Resume Thumbnail">
          </a>
        </div>
      </div>
  
    <h3 class="skills">My Skills</h3>
    <fieldset class="plang">
      <img class="enlarge-on-hover" src="logos/926px-C_Programming_Language.svg.png" width="64px" height="64px" alt="C">
      <img class="enlarge-on-hover" src="logos/CSS3_logo.svg.png" width="64px" height="64px" alt="CSS3">
      <img class="enlarge-on-hover" src="logos/HTML5_Logo_512.png" width="64px" height="64px" alt="HTML5">
      <img class="enlarge-on-hover" src="logos/JavaScript-logo.png" width="64px" height="64px" alt="JavaScript">
      <img class="enlarge-on-hover" src="logos/png-transparent-java-runtime-environment-programming-language-programmer-computer-programming-java-text-logo-software-developer.png" width="64px" height="64px" alt="Java">
      <img class="enlarge-on-hover" src="logos/Python-logo-notext.svg.png" width="64px" height="64px" alt="Python">
      <img class="enlarge-on-hover" src="logos/unnamed.png" width="64px" height="64px" alt="MongoDB">
    </fieldset>
  
    <h3>My Certifications</h3>
    <img class="certy" src="images/web-development.png" height="400px" width="500px" alt="Web Development Certification">
  </div>